<footer>
    <p class="footdata"><%= theme.footer %></p>
    <p class="foottext">Powered by <a class="foottext" href="https://hexo.io/" target="_blank" rel="nofollow">hexo</a> &copy; <%- date(Date.now(), 'YYYY') %>, Theme by <a class="foottext" href="https://github.com/avawuw/avatheme" target="_blank" rel="nofollow">avawuw</a></p>
</footer>