section.posts {
  text-align: center;
  padding:100px 0 6px
}

span.headdata {
  text-align: center;
  font-family: 'Lora', 'MaNaMinA';
  font-size: 45px;
}

div.post-title {
  font-family: 'Lora', 'MaNaMinA';
  font-size: 30px;
}

a.post-title-link {
  text-decoration:none;
  color:rgb(0, 0, 0);
  padding:0 15px 0
}

a:hover {
  text-decoration:underline;
}

div.post-excerpt {
  font-family: 'Lora', 'MaNaMinA';
  font-size: 19px;
}

span.post-data {
    padding:0 100px 0
}
