@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@font-face {
  font-family:MaNaMinA;
  src: url('https://text.catmirror.moe/ttf/HanaMinA.ttf') format('truetype'); /* Safari, Android, iOS */
}
